h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav {
  background-color: #4CAF50;
  text-align: center;
}
nav a {
  padding: 5px 3px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
}
.router-link{
  color: #FFF;
}
nav a:visited, a:link {
  color: #FFF;
}
nav a:hover {
  font-size: larger;
  color: #777;
}
nav a.active {
  font-size: larger;
}
