
<div class="container">
	<h3 class="component-title">New Organization</h3>
	<div [hidden]="submitted">
		<form *ngIf="active" (ngSubmit)="onSubmit()" #organizationForm="ngForm">
			<div class="form-group">
				<label for="name">Organization Name: </label>
				<input type="text" class="form-control" id="name" required [(ngModel)]="model.name"
					name="name" #name="ngModel">
				<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
					Name is required 
				</div>
			</div>
			
			<div class="form-group">
				<label for="regNumber">Registration Number: </label>
				<input type="text" class="form-control" id="regNumber" required [(ngModel)]="model.regNumber" 
					name="regNumber" #regNumber="ngModel">
				<div [hidden]="regNumber.valid || regNumber.pristine" class="alert alert-danger"> 
					Registration Number is required 
				</div>
			</div>
			
			<div class="form-group">	
				<label for="regDate">Registration Date: </label>
				<input type="date" class="form-control" id="regDate" required 
					[(ngModel)]="model.regDate" name="regDate" #regDate="ngModel">
				<div [hidden]="regDate.valid || regDate.pristine" class="alert alert-danger"> 
					Registration Date is required 
				</div>
			</div>
			
			<div class="form-group">	
				<label for="owner">Owner: </label>
				<input type="text" class="form-control" id="owner" required [(ngModel)]="model.owner" 
					name="owner" #owner="ngModel">
				<div [hidden]="owner.valid || owner.pristine" class="alert alert-danger"> 
					Owner is required 
				</div>
			</div>	
			
			<div class="form-group">	
				<label for="address">Address: </label>
				<input type="text" class="form-control" id="address" required [(ngModel)]="model.address" 
					name="address" #address="ngModel">
				<div [hidden]="address.valid || address.pristine" class="alert alert-danger">
					Address is required 
				</div>
			</div>
			
			<div class="form-group">	
				<label for="postalCode">Postal Code: </label>
				<input type="text" class="form-control" id="postalCode" required [(ngModel)]="model.postalCode" 
					name="postalCode" #postalCode="ngModel">
				<div [hidden]="postalCode.valid || postalCode.pristine" class="alert alert-danger">
					Postal Code is required 
				</div>
			</div>	
			
			<div class="form-group">	
				<label for="activityType">Activity Type: </label>
				<input type="text" class="form-control" id="activityType" required [(ngModel)]="model.activityType" 
					name="activityType" #activityType="ngModel">
				<div [hidden]="activityType.valid || activityType.pristine" class="alert alert-danger">
					Activity Type is required 
				</div>
			</div>	
			
			<div class="form-group">
				<label for="description">Description: </label>
				<textarea class="form-control" id="description" [(ngModel)]="model.description" name="description"></textarea>
			</div>

			<button type="submit" class="btn btn-default" [disabled]="!organizationForm.form.valid">Save</button>
			<button type="button" class="btn btn-default" (click)="onReset()">Reset</button>
		
		</form>
	</div>
	<div [hidden]="!submitted">
	  <h2>You successfully saved your organization {{ model.name }}</h2>
	  <br>
	  <button class="btn btn-default" (click)="onSubmitted()">Back</button>
	</div>
</div>