<div class="container">
	<h3 class="component-title">Organizations</h3>
	<table>
		<tr>
			<th>Name</th>
			<th>Registration Number</th>
			<th>Registration Date</th>
			<th>Owner</th>
			<th>Address</th>
			<th>Postal Code</th>
			<th>Activity Type</th>
			<th>Description</th>
		</tr>
		<tr *ngFor="let org of organizations">
			<td>{{org.name}}</td> 
			<td>{{org.regNumber}}</td>
			<td>{{org.regDate}}</td>
			<td>{{org.owner}}</td>
			<td>{{org.address}}</td>
			<td>{{org.postalCode}}</td>
			<td>{{org.activityType}}</td>
			<td>{{org.description}}</td>
		</tr>
	</table>

</div>