th {
	background-color: #4CAF50;
	color: white;
}
th, td {
	padding: 15px;
	text-align: left;
}
th, td {
	border-bottom: 1px solid #DDD;
}
td:first-child {
	font-weight: bold;
}
tr:nth-child(even) {
	background-color: #F2F2F2;
}